{
  "extends": "@readme/eslint-config",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-console": "off",
    "no-underscore-dangle": "off"
  }
}
